html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px
}

/* Override */
#map {

}

/* Style for bottom coordinates */
#ltlgcoords {
    
    position: fixed;
    bottom: 25px;
    left: 250px;

    width: 500px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: black;

    border: 2px solid black;
    background: rgb(245, 245, 245);
    background: rgba(245, 245, 245, .9);

}

#ltlgcoords span {
    margin: 0 5px 0 5px;
}

